body {
  font-family: Verdana;
  font-size: 1.5em;
}

#team-members {
  clear: both;

  .member {
    float: left;
    /*border: 1px solid gray;*/
    margin: 10px;
    padding: 6px;
    transition: all .2s ease-in-out;
  }

  .member img {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
  }

  .member:hover { transform: scale(1.1); }

  .member div.name {
    text-align: center;  
  }
} 

$primaryColor: #FF0000;
body {
  h1 {
    color: $primaryColor;
  }
}